# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
build/
dist/

# Optional dependency directory
package-lock.json

# Optional IDE files
.DS_Store
.vscode/
.idea/
